body {
    background-image: url("/images/backGroundImage.jpg");
    color: white;
}

.about {
    background-color: rgb(255, 255, 255, 0.9);
    border: 5px solid;
    border-color: darkslategray;
    border-radius: 50px;
    text-align: center;
    color: darkslategray;
    margin: 30px;
    padding: 50px;
}